<p >{{article.title}}</p>
<div *ngIf="article">
    <article>
        <h2>{{article.title}}</h2>
        <p class="font-weight-bold">{{article.subTitle}}</p>
        <p class="mt-5">{{article.shortSummary}}</p>
        <p *ngIf="isLoggedIn" class="mt-5">{{article.body}}</p>
        <div *ngIf="!isLoggedIn">
            <div class="card p-5">
                <app-log-in></app-log-in>
            </div>
        </div>
    </article>
</div>
<hr>
<h5>Messages:</h5>
<p *ngIf="!isLoggedIn" style="color: #FF0000">Login to send a message</p>
<form *ngIf="isLoggedIn" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <label for="message">Message:</label>
    <input id="message" type="text" formControlName="message">
    <button type="submit" [disabled]="!messageForm.valid || submitted">Submit</button>
</form>
<ul>
    <li *ngFor="let comment of (comments | async)">{{comment.user.firstName}}: {{comment.message}}</li>
</ul>