<p>journalist-add works!</p>
<form [formGroup]="journalistForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First name:</label>
    <input id="first-name" type="text" formControlName="firstName">
    <label for="last-name">Last name:</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="email">Email:</label>
    <input id="email" type="text" formControlName="email">
    <label for="username">Username:</label>
    <input id="username" type="text" formControlName="username">
    <label for="password">Password:</label>
    <input id="password" type="text" formControlName="password">
    <button type="submit" [disabled]="!journalistForm.valid || submitted || journalist.roleID == 0">Submit</button>
</form>